.searchBar_container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 20%;
    border-radius: 5px;
    border: 1px solid black;
}
.searchBar_container input{
    all: unset;
    width: 80%;
    height: 80%;
}

.searchBar_container p {
    position: absolute;
    right: 21%;
    cursor: pointer;
}