.myProfile{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 2%;
}

.mainInfo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
    height: 15%;
    border: 1px solid black;
    border-radius: 15px;
    padding: 1%;
}
.accountInfo{
    display: flex;
    flex-direction: column;
    gap: 5%;
    justify-content: space-between;
    width: 100%;
    height: 40%;
    border: 1px solid black;
    border-radius: 15px;
    padding: 2%;
}

.accountInfo h4 {
    text-decoration: none;
    font-weight: lighter;
}
.accountInfo div {
    display: flex;
    gap: 1%;
    align-items: flex-end;
}

.seller {
    width: 100%;
    height: 40%;
    margin-bottom: 5%;
    background: url(/src/assets/vendedor.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.text{
    width: 50%;
    height: 100%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2%;
    margin-left: 1%;
}
.text a{
    all: unset;
    height: 1.7rem;
    display: grid;
    place-items: center;
    width: 25%;
    background-color: burlywood;
    text-align: center;
    border-radius: 5px;
}
.seller button {
    width: auto;
    padding-left: 1%;
    padding-right: 1%;
}