.about_container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    justify-content: space-around;
    width: calc(100% - 8rem);
    margin: 0 auto;
}
.about_container h1{
    text-align: center;
    font-size: 3rem;
}
.about_container p{
    text-align: center;
    font-size: 1.2rem;
}