.home_container {
    position: relative;
    width: calc(100% - 8rem);
    height: 50vh;
    margin: 0 auto;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.home_product {
    position: relative;
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.homeImg {
    position: relative;
    width: 55%;
}

.home_product_detail {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    cursor: pointer;
}

.home_product_detail img {
    width: 50%;
}

.home_product_detail p {
    width: 80%;
}

.home_product_detail h1 {
    font-size: 2rem;
    -webkit-text-stroke: 1px rgb(52, 52, 52);
    color: white
}

.home_product_button {
    border: none;
    font-size: 1em;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(252, 209, 154);
    width: 50%;
    height: 2.5rem;
}

.rating{
    display: flex;
    flex-direction: row;
}